body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

p{
    color: rgb(250, 249, 249);
}

h1{
    color: white;
}  

h2{

color: white;
}
h3{
    color: white;
}
li{
    color: white;
}




















